@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .dropdown-menu {
    @apply grid grid-cols-4 w-max gap-y-4 gap-x-6 absolute right-1/2 top-0 translate-x-1/2 bg-black/95 p-4 rounded text-xs opacity-0 pointer-events-none duration-150 group-hover:opacity-100 group-hover:pointer-events-auto group-hover:top-8 before:absolute before:h-3 before:w-16 before:right-1/2 before:translate-x-1/2 before:-top-3 group-hover:text-white;
  }
}

html {
  color: #fff;
  -webkit-tap-highlight-color: transparent;
}

::-webkit-scrollbar {
  height: 4px;
  width: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #52525b;
  border-radius: 3px;
}

.movie-content::-webkit-scrollbar {
  width: 4px;
}

.loader {
  aspect-ratio: 2;
  background: linear-gradient(90deg, #0b486b 50%, #c02942 0) 50% 100%/52% 8px
    border-box repeat-x;
  animation: l8-0 1s linear infinite;
}
.loader:before {
  content: "";
  margin: 0 25%;
  border-radius: 50%;
  background: repeating-conic-gradient(#c02942 0 60deg, #0b486b 0 120deg);
  animation: l8-1 1s linear infinite;
}
@keyframes l8-0 {
  to {
    background-position: -58% 100%;
  }
}
@keyframes l8-1 {
  to {
    rotate: 120deg;
  }
}
